<?xml version='1.0'?>
<!-- Copyright (c) 2018 Nicholas Sadjoli, Singapore.
     All rights reserved.

    This file is licensed under the Apache 2.0 license found in the
    LICENSE file in the root directory of this source tree.
-->
<model>
  <name>MMT Measurement Cube</name>
  <version>0.0.1</version>
  <sdf>model.sdf</sdf>
  <author>
    <name>Nicholas Sadjoli</name>
    <email>nicholas.sadjoli@saabgroup.com</email>
  </author>
  <description>
    Model of MMT's measurement cube used during Saab's Trials on October 2019
  </description>
</model>
